# ---
# Checks: |
#   clang-diagnostic-*,
#   clang-analyzer-*,
#   *,
#   -fuchsia-*,
#   -llvm-header-guard,
#   -llvmlibc-*,
#   -cppcoreguidelines-owning-memory,
#   -google-runtime-references,
#   -modernize-use-trailing-return-type,
#   -readability-identifier-length
#   -cppcoreguidelines-pro-bounds-pointer-arithmetic
# WarningsAsErrors: true
# HeaderFilterRegex: '.*/(Heap|app)/'
# AnalyzeTemporaryDtors: false
# FormatStyle:     file
# CheckOptions:
#   - key:   cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
#     value: '1'
#   - key: cppcoreguidelines-pro-bounds-pointer-arithmetic
#     value: '0'
# ...
